
$colorFondoSec: #dd3857;
$colorHeader2: #e8e925;
$colorHeader3: #74c54f;




%estiloParrafo{
    text-align: center;
    font-size: 25px;
}

//mixin
@mixin fontStyle{
    
    color: white;
    text-transform: uppercase ;
    text-decoration: none
}
@mixin headerIndFx{
    padding: 10px;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: rgba(3, 3, 3, 0.26);
    text-decoration: none;
}

header{
    @include fontStyle;
    
}

.fondoContacto{
    background-color: black;
}
.headerIndex{
    @include headerIndFx;
}
body {
    background: $colorFondoSec;
    
    }
    
.screen-header-button.close {
        background: $colorFondoSec;
      }

.screen-header-button.maximize {
        background: $colorHeader2;
      }

.screen-header-button.minimize {
        background: $colorHeader3;
      }



.app-title {
        display: flex;
        flex-direction: column;
        position: relative;
        color: $colorFondoSec;
        font-size: 39px;
      }


      
      